@import '../../../../assets/styles/resources';

.form-suggest-component {
  position: relative;
  width: 100%;

  > .panel {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 999;
    width: 100%;
    max-height: 300px;
  }
}
