@import '../../../../assets/styles/resources';

.filter-overlay {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 30%);
}

.filter-panel-component {
  position: fixed;
  bottom: 0;
  z-index: 1;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-top: 56px;
}

.panel-field {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 100%;
  height: 100%;
  padding: 24px 24px 32px;
  background-color: $color-white;
  border-radius: 20px 20px 0 0;
  box-shadow: $shadow-filter-action 0 -7px 7px -7px;

  > .title {
    font-size: $font-size-16;
    font-weight: bold;
  }
}

.body-content {
  width: 100%;
  height: 100%;

  > .list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.filter-enter {
  transform: translateY(100%);
}

.filter-active-enter {
  transition: transform 300ms ease-out;
  transform: translateY(0);
}

.filter-exit {
  transform: translateY(0);
}

.filter-active-exit {
  transition: transform 400ms ease-out;
  transform: translateY(100%);
}
