@import '../../../../assets/styles/resources';

.dish-time-component {
  display: flex;
  column-gap: 4px;
  align-items: center;
  width: 100%;
  padding: 8px;
  background-color: white;
  border-radius: 6px;

  > .icon {
    width: 24px;
    height: 24px;
  }

  > .time {
    font-size: $font-size-15;
    font-weight: bold;
  }
}
