@import '../../../../assets/styles/resources';

.form-text-component {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;

  > .message {
    font-size: 13px;
    color: $color-required-red;
  }
}
