@import '../../../assets/styles/resources';

.home-component {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  > .header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  > .dish-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    column-gap: 16px;
    place-items: center;
    align-items: start;
    width: 100%;
    padding: 24px 16px 72px;

    > .dish {
      width: fit-content;
      padding-bottom: 12px;
      cursor: pointer;
      border-bottom: 1px solid #dddbd6;
    }

    > .dish:last-child {
      border-bottom: 0;
    }

    > .dish.-even:nth-last-child(2) {
      border-bottom: 0;
    }
  }

  > .icon {
    position: fixed;
    right: 5%;
    bottom: 9%;
  }
}
