@import '../../../assets/styles/resources';

.button-component {
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 4px;

  &.-primary {
    color: $color-white;
    background-color: $color-black;
  }

  &.-primary:hover,
  &.-primary:active {
    background-color: $color-primary-black;
  }

  &.-primary:disabled,
  &.-primary:disabled:hover,
  &.-primary:disabled:active {
    cursor: auto;
    background-color: $color-primary-gray;
  }

  &.-secondary {
    color: $color-primary-black;
    background-color: $color-white;
    border: 1px solid $color-primary-black;
  }

  &.-secondary:hover,
  &.-secondary:active {
    background-color: $color-secondary-white;
  }

  &.-secondary:disabled,
  &.-secondary:disabled:hover,
  &.-secondary:disabled:active {
    color: $color-secondary-gray-2;
    cursor: auto;
    background-color: $color-secondary-gray-3;
    border: 1px solid $color-secondary-gray-3;
  }
}
