@import '../../../../assets/styles/resources';

.dish-new-component {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
  padding: 24px 24px 0;

  > .title {
    font-size: $font-size-27;
  }

  > .field {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    width: 100%;
    height: 100%;
  }

  > .actions {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-bottom: 32px;
  }
}

.material-field {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;

  > .field {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
    height: 100%;

    > .content {
      display: flex;
      gap: 12px;
      align-items: center;
    }
  }
}

.category-field {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
  height: 100%;

  > .list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
  }
}
