@import '../../../../assets/styles/resources';

.dish-component {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: fit-content;

  > .title {
    width: 100%;
    font-size: $font-size-15;
    font-weight: bold;
    color: #8ca405;
    white-space: pre-line;
  }
}

.image-field {
  position: relative;
  width: fit-content;

  > .image {
    width: 100%;
    border-radius: 8px;
  }

  > .time {
    position: absolute;
    right: 3%;
    bottom: 5%;
  }
}
