@import '../../../assets/styles/resources';

.has-header-layout {
  position: relative;
  width: 100%;
  height: 100%;

  > .header {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    height: $has-layout-header-height;
  }

  > .main {
    width: 100%;
    height: calc(100% - $has-layout-header-height);
    overflow-y: auto;
  }
}
