@import '../../../../assets/styles/resources';

.image-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;

  > .dot {
    width: 10px;
    height: 10px;
    background-color: $color-secondary-gray-2;
    border-radius: 50%;
  }

  &.active {
    > .dot {
      background-color: $color-black;
    }
  }
}
