@import '../../../../assets/styles/resources';

.dish-detail-component {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;

  > .top {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }

  > .bottom {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    padding: 0 24px 32px;
  }
}

.image-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: cover;

  > .image {
    width: 100%;
    border-bottom: 1px solid $color-border-gray;
  }
}

.title-field {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;

  > .title {
    font-size: $font-size-20;
    font-weight: bold;
  }
}

.category-field {
  display: flex;
  column-gap: 8px;
  width: 100%;
}

.material-field {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;

  > .title {
    font-weight: bold;
  }
}

.material-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
  padding-left: 24px;

  > .material {
    list-style-type: disc;
  }
}

.material-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
