@import '../../../../assets/styles/resources';

.dish-detail-component {
  width: 100%;
  height: 100%;

  > .edit {
    position: relative;
    display: flex;
    column-gap: 4px;
    justify-content: flex-end;

    > .dots {
      display: flex;
      column-gap: 4px;
      align-items: center;
      width: fit-content;
      padding: 12px 20px 12px 0;
      cursor: pointer;
    }

    > .panel {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 999;
      width: 200px;
    }
  }

  > .content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
    height: 100%;

    > .top {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      width: 100%;
    }
  }
}

.dots-field {
  display: flex;
  align-items: center;

  > .dot {
    width: 5px;
    height: 5px;
    background-color: $color-black;
    border-radius: 50%;
  }
}

.bottom-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  padding: 0 24px 32px;
}

.image-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-top: 1px solid $color-border-gray;
  border-bottom: 1px solid $color-border-gray;

  > .image {
    width: 100%;
  }
}

.title-field {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;

  > .title {
    font-size: $font-size-20;
    font-weight: bold;
  }
}

.category-field {
  display: flex;
  column-gap: 8px;
  width: 100%;
}

.material-field {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
  height: 100%;

  > .title {
    font-weight: bold;
  }
}

.material-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
  padding-left: 24px;

  > .material {
    list-style-type: disc;
  }
}

.material-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.splide-pagination {
  > li > button {
    background: $color-secondary-gray-2;
  }

  > li > button[aria-selected='true'] {
    background: $color-loading-blue;
  }
}
