/** color */
$color-white: #fff;
$color-secondary-white: #f2f2f2;
$color-black: #1a1a1a;
$color-primary-black: #333;
$color-primary-gray: #777;
$color-border-gray: #e6e6e6;
$color-border-gray-2: #d3d3d3;
$color-secondary-gray-2: #999;
$color-secondary-gray-3: #ccc6;
$color-line-gray: #666;
$color-required-red: #ff6347;
$color-blue: #07c;
$color-green: #8ca405;

/** box-shadow */
$shadow-filter-action: rgb(101 119 134 / 25%);
