@import '../../../../assets/styles/resources';

.dish-time-component {
  display: flex;
  column-gap: 4px;
  align-items: center;
  width: 100%;
  padding: 6px;
  background-color: $color-white;
  border-radius: 6px;

  > .icon {
    width: 16px;
    height: 16px;
  }

  > .time {
    font-size: $font-size-12;
    font-weight: bold;
  }
}
